<%- model_class = PersonalHistory -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:neunatales) %></th>
      <th><%= model_class.human_attribute_name(:neunatales_description) %></th>
      <th><%= model_class.human_attribute_name(:patologicos) %></th>
      <th><%= model_class.human_attribute_name(:patologicos_description) %></th>
      <th><%= model_class.human_attribute_name(:quirurgicos) %></th>
      <th><%= model_class.human_attribute_name(:quirurgicos_description) %></th>
      <th><%= model_class.human_attribute_name(:farmacologicos) %></th>
      <th><%= model_class.human_attribute_name(:farmacologicos_description) %></th>
      <th><%= model_class.human_attribute_name(:alergicos) %></th>
      <th><%= model_class.human_attribute_name(:alergicos_description) %></th>
      <th><%= model_class.human_attribute_name(:toxicos) %></th>
      <th><%= model_class.human_attribute_name(:toxicos_description) %></th>
      <th><%= model_class.human_attribute_name(:traumaticos) %></th>
      <th><%= model_class.human_attribute_name(:traumaticos_description) %></th>
      <th><%= model_class.human_attribute_name(:hospitables) %></th>
      <th><%= model_class.human_attribute_name(:hospitables_description) %></th>
      <th><%= model_class.human_attribute_name(:atep_laboral) %></th>
      <th><%= model_class.human_attribute_name(:atep_laboral_description) %></th>
      <th><%= model_class.human_attribute_name(:familiar) %></th>
      <th><%= model_class.human_attribute_name(:familiar_description) %></th>
      <th><%= model_class.human_attribute_name(:inmunologicos) %></th>
      <th><%= model_class.human_attribute_name(:inmunologios_description) %></th>
      <th><%= model_class.human_attribute_name(:asociado_viajes_de_vuelo) %></th>
      <th><%= model_class.human_attribute_name(:asociado_viajes_de_vuelo_description) %></th>
      <th><%= model_class.human_attribute_name(:menstrual_cycle) %></th>
      <th><%= model_class.human_attribute_name(:gestational_age) %></th>
      <th><%= model_class.human_attribute_name(:eco) %></th>
      <th><%= model_class.human_attribute_name(:fum) %></th>
      <th><%= model_class.human_attribute_name(:pregnancy) %></th>
      <th><%= model_class.human_attribute_name(:g) %></th>
      <th><%= model_class.human_attribute_name(:p) %></th>
      <th><%= model_class.human_attribute_name(:c) %></th>
      <th><%= model_class.human_attribute_name(:a) %></th>
      <th><%= model_class.human_attribute_name(:m) %></th>
      <th><%= model_class.human_attribute_name(:v) %></th>
      <th><%= model_class.human_attribute_name(:e) %></th>
      <th><%= model_class.human_attribute_name(:patient_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @personal_histories.each do |personal_history| %>
      <tr>
        <td><%= personal_history.neunatales %></td>
        <td><%= personal_history.neunatales_description %></td>
        <td><%= personal_history.patologicos %></td>
        <td><%= personal_history.patologicos_description %></td>
        <td><%= personal_history.quirurgicos %></td>
        <td><%= personal_history.quirurgicos_description %></td>
        <td><%= personal_history.farmacologicos %></td>
        <td><%= personal_history.farmacologicos_description %></td>
        <td><%= personal_history.alergicos %></td>
        <td><%= personal_history.alergicos_description %></td>
        <td><%= personal_history.toxicos %></td>
        <td><%= personal_history.toxicos_description %></td>
        <td><%= personal_history.traumaticos %></td>
        <td><%= personal_history.traumaticos_description %></td>
        <td><%= personal_history.hospitables %></td>
        <td><%= personal_history.hospitables_description %></td>
        <td><%= personal_history.atep_laboral %></td>
        <td><%= personal_history.atep_laboral_description %></td>
        <td><%= personal_history.familiar %></td>
        <td><%= personal_history.familiar_description %></td>
        <td><%= personal_history.inmunologicos %></td>
        <td><%= personal_history.inmunologios_description %></td>
        <td><%= personal_history.asociado_viajes_de_vuelo %></td>
        <td><%= personal_history.asociado_viajes_de_vuelo_description %></td>
        <td><%= personal_history.menstrual_cycle %></td>
        <td><%= personal_history.gestational_age %></td>
        <td><%= personal_history.eco %></td>
        <td><%= personal_history.fum %></td>
        <td><%= personal_history.pregnancy %></td>
        <td><%= personal_history.g %></td>
        <td><%= personal_history.p %></td>
        <td><%= personal_history.c %></td>
        <td><%= personal_history.a %></td>
        <td><%= personal_history.m %></td>
        <td><%= personal_history.v %></td>
        <td><%= personal_history.e %></td>
        <td><%= personal_history.patient_id %></td>
        <td><%=l personal_history.created_at %></td>
        <td>



          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_patient_personal_history_path(@patient,personal_history), :class => 'btn btn-mini' %>

          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      patient_personal_history_path(@patient,personal_history),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to t('.new', :default => t("helpers.links.new")),
            new_patient_personal_history_path(@patient),
            :class => 'btn btn-primary' %> | 
<%= link_to t('.back', :default => t("helpers.links.back")),
            patients_path,
            :class => 'btn btn-inverse' %>
