<%- model_class = PersonalHistory -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:neunatales) %>:</strong></dt>
  <dd><%= @personal_history.neunatales %></dd>
  <dt><strong><%= model_class.human_attribute_name(:neunatales_description) %>:</strong></dt>
  <dd><%= @personal_history.neunatales_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:patologicos) %>:</strong></dt>
  <dd><%= @personal_history.patologicos %></dd>
  <dt><strong><%= model_class.human_attribute_name(:patologicos_description) %>:</strong></dt>
  <dd><%= @personal_history.patologicos_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:quirurgicos) %>:</strong></dt>
  <dd><%= @personal_history.quirurgicos %></dd>
  <dt><strong><%= model_class.human_attribute_name(:quirurgicos_description) %>:</strong></dt>
  <dd><%= @personal_history.quirurgicos_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:farmacologicos) %>:</strong></dt>
  <dd><%= @personal_history.farmacologicos %></dd>
  <dt><strong><%= model_class.human_attribute_name(:farmacologicos_description) %>:</strong></dt>
  <dd><%= @personal_history.farmacologicos_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:alergicos) %>:</strong></dt>
  <dd><%= @personal_history.alergicos %></dd>
  <dt><strong><%= model_class.human_attribute_name(:alergicos_description) %>:</strong></dt>
  <dd><%= @personal_history.alergicos_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:toxicos) %>:</strong></dt>
  <dd><%= @personal_history.toxicos %></dd>
  <dt><strong><%= model_class.human_attribute_name(:toxicos_description) %>:</strong></dt>
  <dd><%= @personal_history.toxicos_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:traumaticos) %>:</strong></dt>
  <dd><%= @personal_history.traumaticos %></dd>
  <dt><strong><%= model_class.human_attribute_name(:traumaticos_description) %>:</strong></dt>
  <dd><%= @personal_history.traumaticos_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:hospitables) %>:</strong></dt>
  <dd><%= @personal_history.hospitables %></dd>
  <dt><strong><%= model_class.human_attribute_name(:hospitables_description) %>:</strong></dt>
  <dd><%= @personal_history.hospitables_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:atep_laboral) %>:</strong></dt>
  <dd><%= @personal_history.atep_laboral %></dd>
  <dt><strong><%= model_class.human_attribute_name(:atep_laboral_description) %>:</strong></dt>
  <dd><%= @personal_history.atep_laboral_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:familiar) %>:</strong></dt>
  <dd><%= @personal_history.familiar %></dd>
  <dt><strong><%= model_class.human_attribute_name(:familiar_description) %>:</strong></dt>
  <dd><%= @personal_history.familiar_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:inmunologicos) %>:</strong></dt>
  <dd><%= @personal_history.inmunologicos %></dd>
  <dt><strong><%= model_class.human_attribute_name(:inmunologios_description) %>:</strong></dt>
  <dd><%= @personal_history.inmunologios_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:asociado_viajes_de_vuelo) %>:</strong></dt>
  <dd><%= @personal_history.asociado_viajes_de_vuelo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:asociado_viajes_de_vuelo_description) %>:</strong></dt>
  <dd><%= @personal_history.asociado_viajes_de_vuelo_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:menstrual_cycle) %>:</strong></dt>
  <dd><%= @personal_history.menstrual_cycle %></dd>
  <dt><strong><%= model_class.human_attribute_name(:gestational_age) %>:</strong></dt>
  <dd><%= @personal_history.gestational_age %></dd>
  <dt><strong><%= model_class.human_attribute_name(:eco) %>:</strong></dt>
  <dd><%= @personal_history.eco %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fum) %>:</strong></dt>
  <dd><%= @personal_history.fum %></dd>
  <dt><strong><%= model_class.human_attribute_name(:pregnancy) %>:</strong></dt>
  <dd><%= @personal_history.pregnancy %></dd>
  <dt><strong><%= model_class.human_attribute_name(:g) %>:</strong></dt>
  <dd><%= @personal_history.g %></dd>
  <dt><strong><%= model_class.human_attribute_name(:p) %>:</strong></dt>
  <dd><%= @personal_history.p %></dd>
  <dt><strong><%= model_class.human_attribute_name(:c) %>:</strong></dt>
  <dd><%= @personal_history.c %></dd>
  <dt><strong><%= model_class.human_attribute_name(:a) %>:</strong></dt>
  <dd><%= @personal_history.a %></dd>
  <dt><strong><%= model_class.human_attribute_name(:m) %>:</strong></dt>
  <dd><%= @personal_history.m %></dd>
  <dt><strong><%= model_class.human_attribute_name(:v) %>:</strong></dt>
  <dd><%= @personal_history.v %></dd>
  <dt><strong><%= model_class.human_attribute_name(:e) %>:</strong></dt>
  <dd><%= @personal_history.e %></dd>
  <dt><strong><%= model_class.human_attribute_name(:patient_id) %>:</strong></dt>
  <dd><%= @personal_history.patient_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              personal_histories_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_personal_history_path(@personal_history), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              personal_history_path(@personal_history),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
