<div class="container">    
                  


<script type="text/javascript">
  $("#document").keyup(function(){
    $("#password1").val(this.value);
    $("#password2").val(this.value);
});
</script>

                   

                
        

<br/><br/>
<%= form_for(@user, html: { multipart: true }) do |f| %>

<div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 well well-sm">
            <legend><a href="http://www.jquery2dotnet.com"><i class="glyphicon glyphicon-user"></i></a> Nuevo Usuario!</legend>
            <form action="#" method="post" class="form" role="form">
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <%= f.text_field :first_name, class: 'form-control', required: true, placeholder: 'Primer Nombre', :autofocus => true %>
                </div>
                <div class="col-xs-6 col-md-6">
                    <%= f.text_field :second_name, class: 'form-control', required: true, placeholder: 'Segundo Nombre' %>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <%= f.text_field :first_surname, class: 'form-control', required: true, placeholder: 'Primer Apellido' %>
                </div>
                <div class="col-xs-6 col-md-6">
                    <%= f.text_field :second_surname, class: 'form-control', required: true, placeholder: 'Segundo Apellido' %>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <%= f.text_field :type_document, class: 'form-control', required: true, placeholder: 'Tipo Documento' %>
                </div>
                <div class="col-xs-6 col-md-6">
                    <%= f.text_field :document, class: 'form-control', required: true, placeholder: 'Documento' %>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <%= f.text_field :medical_record, class: 'form-control', required: true, placeholder: 'Registro Medico' %>
                </div>
                <div class="col-xs-6 col-md-6">
                    <%= f.text_field :email, class: 'form-control', required: true, placeholder: 'Email' %>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', class: 'form-control'  %>
                </div>
                <div class="col-xs-6 col-md-6">

                </div>
            </div>



            <div class="row">
                <div class="col-xs-6 col-md-6">
                  <%= f.hidden_field :password, class: 'form-control', id: 'password1', placeholder: 'Contraseña' %>
                </div>
                <div class="col-xs-6 col-md-6">
                                    <%= f.hidden_field :password_confirmation, class: 'form-control', id: 'password2', placeholder: 'Confirma tu Contraseña' %>

                </div>
            </div>



            
            <br />
            <br />
            <button class="btn btn-lg btn-primary btn-block" type="submit">
                Guardar</button>
            </form>
        </div>
    </div>
</div>
<% end %>
<style type="text/css">
  body { padding-top:30px; }
.form-control { margin-bottom: 10px; }
</style>