

<%= form_for @clinic_history, method: :put, url: wizard_path do |f| %>
  <% if f.object.errors.any? %>
    <div class="error_messages">
      <% f.object.errors.full_messages.each do |error| %>
        <p><%= error %></p>
      <% end %>
    </div>
  <% end %>

  <fieldset>
    <legend>Pet Identity</legend>


    <div>
      <%= f.label :city %>
      <br />
      <%= f.text_field :city %>
    </div>

    <div>
      <%= f.label :department %>
      <%= f.text_field :department  %>
    </div>

    <div>
      <%= f.submit 'Next Step' %>
    </div>
  </fieldset>
<% end %>
