
<%= form_for @clinic_history, method: :put, url: wizard_path do |f| %>
  <% if f.object.errors.any? %>
    <div class="error_messages">
      <% f.object.errors.full_messages.each do |error| %>
        <p><%= error %></p>
      <% end %>
    </div>
  <% end %>

  <fieldset>
    <legend>Instructions</legend>

    <div>
      <%= f.label :airport %>
      <br />
      <%= f.text_field :airport %>
    </div>

    <div>
      <%= f.submit 'Next Step' %>
    </div>

  </fieldset>
<% end %>

    <button><a href="javascript:history.back()">1</a> </button>
