
<!DOCTYPE html>
<html lang="en" >
<head>



              
      <!-- OWL Carousel -->       

<style type="text/css">
  /* 
 *  Core Owl Carousel CSS File
 *  v1.3.3
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* display none until init */
.owl-carousel{
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
  overflow: hidden;
  position: relative;
  width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
  
.owl-carousel .owl-item{
  float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
  cursor: pointer;
}
.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}


</style>



<style type="text/css">
  /* 
 *  Owl Carousel CSS3 Transitions 
 *  v1.3.2
 */

.owl-origin {
  -webkit-perspective: 1200px;
  -webkit-perspective-origin-x : 50%;
  -webkit-perspective-origin-y : 50%;
  -moz-perspective : 1200px;
  -moz-perspective-origin-x : 50%;
  -moz-perspective-origin-y : 50%;
  perspective : 1200px;
}
/* fade */
.owl-fade-out {
  z-index: 10;
  -webkit-animation: fadeOut .7s both ease;
  -moz-animation: fadeOut .7s both ease;
  animation: fadeOut .7s both ease;
}
.owl-fade-in {
  -webkit-animation: fadeIn .7s both ease;
  -moz-animation: fadeIn .7s both ease;
  animation: fadeIn .7s both ease;
}
/* backSlide */
.owl-backSlide-out {
  -webkit-animation: backSlideOut 1s both ease;
  -moz-animation: backSlideOut 1s both ease;
  animation: backSlideOut 1s both ease;
}
.owl-backSlide-in {
  -webkit-animation: backSlideIn 1s both ease;
  -moz-animation: backSlideIn 1s both ease;
  animation: backSlideIn 1s both ease;
}
/* goDown */
.owl-goDown-out {
  -webkit-animation: scaleToFade .7s ease both;
  -moz-animation: scaleToFade .7s ease both;
  animation: scaleToFade .7s ease both;
}
.owl-goDown-in {
  -webkit-animation: goDown .6s ease both;
  -moz-animation: goDown .6s ease both;
  animation: goDown .6s ease both;
}
/* scaleUp */
.owl-fadeUp-in {
  -webkit-animation: scaleUpFrom .5s ease both;
  -moz-animation: scaleUpFrom .5s ease both;
  animation: scaleUpFrom .5s ease both;
}

.owl-fadeUp-out {
  -webkit-animation: scaleUpTo .5s ease both;
  -moz-animation: scaleUpTo .5s ease both;
  animation: scaleUpTo .5s ease both;
}
/* Keyframes */
/*empty*/
@-webkit-keyframes empty {
  0% {opacity: 1}
}
@-moz-keyframes empty {
  0% {opacity: 1}
}
@keyframes empty {
  0% {opacity: 1}
}
@-webkit-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@-moz-keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@-webkit-keyframes backSlideOut {
  25% { opacity: .5; -webkit-transform: translateZ(-500px); }
  75% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
}
@-moz-keyframes backSlideOut {
  25% { opacity: .5; -moz-transform: translateZ(-500px); }
  75% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
}
@keyframes backSlideOut {
  25% { opacity: .5; transform: translateZ(-500px); }
  75% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
}
@-webkit-keyframes backSlideIn {
  0%, 25% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; -webkit-transform: translateZ(-500px); }
  100% { opacity: 1; -webkit-transform: translateZ(0) translateX(0); }
}
@-moz-keyframes backSlideIn {
  0%, 25% { opacity: .5; -moz-transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; -moz-transform: translateZ(-500px); }
  100% { opacity: 1; -moz-transform: translateZ(0) translateX(0); }
}
@keyframes backSlideIn {
  0%, 25% { opacity: .5; transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; transform: translateZ(-500px); }
  100% { opacity: 1; transform: translateZ(0) translateX(0); }
}
@-webkit-keyframes scaleToFade {
  to { opacity: 0; -webkit-transform: scale(.8); }
}
@-moz-keyframes scaleToFade {
  to { opacity: 0; -moz-transform: scale(.8); }
}
@keyframes scaleToFade {
  to { opacity: 0; transform: scale(.8); }
}
@-webkit-keyframes goDown {
  from { -webkit-transform: translateY(-100%); }
}
@-moz-keyframes goDown {
  from { -moz-transform: translateY(-100%); }
}
@keyframes goDown {
  from { transform: translateY(-100%); }
}

@-webkit-keyframes scaleUpFrom {
  from { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpFrom {
  from { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpFrom {
  from { opacity: 0; transform: scale(1.5); }
}

@-webkit-keyframes scaleUpTo {
  to { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpTo {
  to { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpTo {
  to { opacity: 0; transform: scale(1.5); }
}
</style>

    <!-- Theme CSS -->


<style type="text/css">


/*========== Main Wrapper Header ==========*/
.main-wrapper-header { padding:50px 0; background: transparent;}
.main-wrapper-header .page-title {}
.main-wrapper-header .page-title h1, .page-title h2, .page-title h3 { margin:-1%; font-size:28px;line-height:2;}

.main-wrapper-header .breadcrumbs-wrapper { text-align:right;}
.main-wrapper-header .breadcrumbs-wrapper .breadcrumb { margin:0; line-height:2.8; background:none; padding: 8px 0;}
.main-wrapper-header .breadcrumbs-wrapper .breadcrumb li { float:none; width:auto;}
.main-wrapper-header .breadcrumbs-wrapper .breadcrumb > li + li:before {content: "\f138";font-family: 'FontAwesome'; padding: 0 8px;}
.main-wrapper-header .breadcrumbs-wrapper .breadcrumb > .active {color: #32313b;}


/* Fancy Header*/
.fancy-header {}
.fancy-header .page-title h1,.fancy-header .page-title h2, .fancy-header .page-title h3 { font-size:48px; line-height:1.2; text-align:center;}
.fancy-header .breadcrumbs-wrapper { text-align:center;}

/* Dark Header */
.dark-header .page-title h1,.dark-header .page-title h2, .dark-header .page-title h3{ color:#ffffff;}
.dark-header .breadcrumbs-wrapper .breadcrumb > li + li:before { color:#ffffff !important;}
.dark-header .breadcrumbs-wrapper .breadcrumb > li a { color:#ffffff;}
.dark-header .breadcrumbs-wrapper .breadcrumb > li a:hover { border-bottom:1px solid #ffffff;}
.dark-header .breadcrumbs-wrapper .breadcrumb > .active { color:#ffffff;}




/*========== Parallax ==========*/

.parallax{ background-position:50% 50%; background-attachment:fixed; background-repeat: no-repeat; position:relative; 
    -webkit-background-size: cover !important; /* For WebKit*/
    -moz-background-size: cover !important;    /* Mozilla*/
    -o-background-size: cover !important;      /* Opera*/
    background-size: cover !important;         /* Generic*/  }
  
.parallax-background1 {background-image:url(../img/demo/parallax/parallax-back1.jpg);}
.parallax-background2{ background-image:url(../img/demo/parallax/parallax-back2.jpg);}
.parallax-background3{ background-image:url(../img/demo/parallax/parallax-back3.jpg);}
.parallax-background4{ background-image:url(../img/demo/parallax/parallax-back4.jpg);}
.parallax-background5{ background-image:url(../img/demo/parallax/parallax-back5.jpg);}
.parallax-background6{ background-image:url(../img/demo/parallax/parallax-back6.jpg);}
.parallax-background7{ background-image:url(../img/demo/parallax/parallax-back7.jpg);}
.parallax-background8{ background-image:url(../img/demo/parallax/parallax-back8.jpg);}
.parallax-background9{ background-image:url(../img/demo/parallax/parallax-back9.jpg);}
.parallax-background10{ background-image:url(../img/demo/parallax/parallax-back10.jpg);}
.parallax-background11{ background-image:url(../img/demo/parallax/parallax-back11.jpg);}
.parallax-background12{ background-image:url(../img/demo/parallax/parallax-back12.jpg);}
.parallax-background13{ background-image:url(../img/demo/parallax/parallax-back13.jpg);}
.parallax-background14{ background-image:url(../img/demo/parallax/parallax-back14.jpg);}
.parallax-background15{ background-image:url(../img/demo/parallax/parallax-back15.jpg);}
.parallax-background16{ background-image:url(../img/demo/parallax/parallax-back16.jpg);}


.parallax-breadcrumbs { background-image:url(../img/demo/parallax/parallax-breadcrumbs.jpg);}
.parallax-blog { background-image:url(../img/demo/parallax/parallax-blog.jpg);}
.parallax-about { background-image:url(../img/demo/parallax/parallax-about.jpg);}
.parallax-services { background-image:url(../img/demo/parallax/parallax-services.jpg);}
.parallax-team { background-image:url(../img/demo/parallax/parallax-team.jpg);}
.parallax-landing { background-image:url(../img/demo/parallax/parallax-landing.jpg);}
.parallax-404 { background-image:url(../img/demo/parallax/parallax-404.jpg);}
.parallax-search { background-image:url(../img/demo/parallax/parallax-search.jpg);}
.parallax-shop { background-image:url(../img/demo/parallax/parallax-shop.jpg);}
.parallax-portfolio{ background-image:url(../img/demo/parallax/parallax-portfolio.jpg);}

@media only screen and (max-width: 768px) {
.parallax{ background-position:50% 50% !important; background-attachment: scroll; }
}

/* Background Overlay*/
.bg-overlay{display: block;height: 80%; position: absolute; top:0; width: 100%; z-index:0;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; /* Safari 1.x */ -khtml-opacity: 0.6; /* Modern browsers */opacity: 0.6;}
.bg-overlay-solid{-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; /* Safari 1.x */ -khtml-opacity: 1; /* Modern browsers */opacity: 1;}
.
.bg-overlay.bg-overlay-dark{background:#000;}
.bg-overlay.bg-overlay-gdark{
background: -moz-radial-gradient(center, ellipse cover,  rgba(37,36,44,0.5) 0%, rgba(37,36,44,0.75) 50%, rgba(0,0,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(37,36,44,0.5)), color-stop(50%,rgba(37,36,44,0.75)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(37,36,44,0.5) 0%,rgba(37,36,44,0.75) 50%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(37,36,44,0.5) 0%,rgba(37,36,44,0.75) 50%,rgba(0,0,0,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(37,36,44,0.5) 0%,rgba(37,36,44,0.75) 50%,rgba(0,0,0,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(37,36,44,0.5) 0%,rgba(37,36,44,0.75) 50%,rgba(0,0,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8025242c', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; /* Safari 1.x */ -khtml-opacity: 1; /* Modern browsers */opacity: 1;
}


/*========== Portfolio ==========*/

.isotope-item {z-index: 2;}
.isotope-hidden.isotope-item {pointer-events: none; z-index: 1;}
.isotope, .isotope .isotope-item {
  -webkit-transition-duration: 1200ms;
  -moz-transition-duration: 1200ms;
  -ms-transition-duration: 1200ms;
  -o-transition-duration: 1200ms;
  transition-duration: 1200ms;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}
ul#filters {list-style:none; margin:0 auto 40px; padding:0; text-align:center; position:relative; z-index:99;}
ul#filters li{display: inline-block; padding-left: 5px;  padding-right: 5px; margin-bottom:10px; }
ul#filters li a.filter{ padding:8px 15px; color:#ccc; background: none; border:1px solid #ececec; display:block; font-size:12px; text-transform:uppercase; }
ul#filters li a.filter.selected{ color:#fff;}
.element{}
.element-inner{}
.element img{width: 100%; height:auto;}
.portfolio-classic .element-inner{ margin-bottom:30px; padding:0 15px;}

/* Start Columns */
.portfolio-1-cols .element {width: 100%;}
.portfolio-2-cols .element {width: 50%;}
.portfolio-3-cols .element {width: 33.3333%;}
.portfolio-4-cols .element {width: 25%;}
.portfolio-6-cols .element {width: 16.6667%;}

.portfolio-2-cols .element.size-2x {width: 100%;}
.portfolio-3-cols .element.size-2x {width: 66.60%;}
.portfolio-4-cols .element.size-2x {width: 50%;}
.portfolio-6-cols .element.size-2x {width: 33.3333%;}

.portfolio-2-cols .element.size-3x {width: 100%;}
.portfolio-3-cols .element.size-3x {width: 100%;}
.portfolio-4-cols .element.size-3x {width: 75%;}
.portfolio-6-cols .element.size-3x {width: 50%;}

.element.size-full { width: 100%; }
/* End Columns */



@media only screen and (max-width: 980px) {
  .element, .portfolio-1-cols .element, .portfolio-2-cols .element, .portfolio-3-cols .element, .portfolio-4-cols .element, .portfolio-6-cols .element, .portfolio-12-cols .element, .portfolio-2-cols .element.size-2x, .portfolio-3-cols .element.size-2x, .portfolio-4-cols .element.size-2x, .portfolio-6-cols .element.size-2x { width: 50%;}
}

@media only screen and (max-width: 480px) {
  .element, .portfolio-1-cols .element, .portfolio-2-cols .element, .portfolio-3-cols .element, .portfolio-4-cols .element, .portfolio-6-cols .element, .portfolio-12-cols .element, .portfolio-2-cols .element.size-2x, .portfolio-3-cols .element.size-2x, .portfolio-4-cols .element.size-2x, .portfolio-6-cols .element.size-2x { width: 100%;  }

}

/* Colio - Basic Styles */
.colio {position: relative; height: 0;clear: both;overflow: hidden; background:#ffffff;}
.colio-container {padding: 40px; height: 100%;   }
.colio-content {display: none;overflow: hidden;}
.colio-close, .colio-prev, .colio-next {outline: none;-webkit-tap-highlight-color: rgba(0,0,0,0);}
.colio-no-prev, .colio-no-next {cursor: ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)"; -moz-opacity: 0.2; -khtml-opacity: 0.2; opacity: 0.2; }

/* navigation, close */
.colio-close {position: absolute;top: 10px; right: 10px;}
.colio-navigation {position: absolute;  top: 10px;  left: 10px;}
.colio-navigation a {margin-right: 5px;}
/* placement */
.colio-placement-inside, .colio-placement-before {margin-bottom: 20px;}
.colio-placement-after {margin:0px;}

/* Colio GFX Theme Style */

/* container */
.colio-theme-gfx .colio-container {}
/* colio close */
.colio-theme-gfx .colio-close span {display: block; font-size:28px; line-height:1.7;}
.colio-theme-gfx .colio-close {position: absolute; color: #ffffff; height: 50px; margin-right: -25px; right: 50%; text-align: center; top: 25px;  width: 50px;}
.colio-theme-gfx .colio-close:hover {color: #ffffff; background:#32313B;}
.colio-container {padding: 100px 0px;}

/* colio navigation */
.colio-theme-gfx .colio-navigation span {display: block; font-size:28px; line-height:1.7;}
.colio-theme-gfx .colio-navigation { top:auto; bottom:25px; left:50%; margin-left:-55px;}
.colio-theme-gfx .colio-navigation a {float: left;  margin-right: 5px; color: #ffffff; height: 50px; text-align: center;  width: 50px;}
.colio-theme-gfx .colio-navigation a:hover {color: #ffffff; background:#32313B;}
.colio-theme-gfx .colio-prev span:before {content:'\f053'; font-family:'FontAwesome'; font-size:18px;}
.colio-theme-gfx .colio-next span:before {content:'\f054'; font-family:'FontAwesome'; font-size:18px;}
.colio-theme-gfx .colio-no-prev, .colio-theme-gfx .colio-no-next {color: #ffffff; background:#f2f2f2;}

/* Portfolio Element */
/* Project Item */
.portfolio-item .project-meta { padding:10px;}
.portfolio-item-content { padding:30px 10px; text-align:center;}
.portfolio-item-title { font-size:16px; font-weight:500;}
.portfolio-item-content p{margin-bottom:0;}
.portfolio-item-content.panel { margin-top:-4px; padding:20px 10px;}


/*========== Forms ==========*/
.form-control { height:50px; padding:10px 20px; background-color:transparent; border: 1px solid #ececec; color:#778899; -webkit-box-shadow: none; box-shadow: none;}
.form-control:focus {-webkit-box-shadow: none; box-shadow: none;}
.form-group [class*="col-sm-"], .form-group [class*="col-md-"], .form-group [class*="col-lg-"] { margin-bottom:15px;}
.form-group [class*="col-sm-"]:last-child, .form-group [class*="col-md-"]:last-child, .form-group [class*="col-lg-"]:last-child { margin-bottom:0;}
.form-control::-moz-placeholder {color:#cccccc;}

/*dark form*/
.dark-form{}

/*========== Lightbox ==========*/
.mfp-preloader { z-index:1046;}


/*========== Backgrounds and Colors ==========*/
/*bg*/

.bg-color-success{ background-color:#9dd55d !important;}
.bg-color-info{ background-color:#22d2d2 !important;}
.bg-color-warning{ background-color:#f4aa44 !important;}
.bg-color-danger{ background-color:#f33440 !important;}
.bg-color-light{ background-color:#f8f8f8 !important;}
.bg-color-dark{ background-color:#32313B !important;}
.bg-color-white{ background-color:#ffffff !important;}
.bg-color-none{ background-color:transparent !important}

/*colors*/

.color-success{ color:#9dd55d !important;}
.color-info{ color:#22d2d2 !important;}
.color-warning{ color:#f4aa44 !important;}
.color-danger{ color:#f33440 !important;}
.color-white{ color:#ffffff !important;}
.color-dark{ color:#32313B !important;}


/*========== White Space ==========*/
.white-space {display: block; width: 100%;}
.white-space.space-mini { padding:5px 0;}
.white-space.space-xsmall { padding:10px 0;}
.white-space.space-small { padding:20px 0;}
.white-space.space-medium { padding:30px 0;}
.white-space.space-big { padding:50px 0;}


</style>
   
</head>

<body class="bg-pattern1" data-spy="scroll" data-target=".navbar">
    
  <!-- Page Main Wrapper -->
  <div class="page-wrapper" id="page-top">

        

    <!-- Main Wrapper Header -->
        <div class="main-wrapper-header fancy-header dark-header parallax parallax-breadcrumbs" data-stellar-background-ratio="0.4">
      
            <div class="bg-overlay bg-overlay-gdark"></div>

            
        <div class="row">
                  <div class="col-sm-12 columns">
                    <div class="page-title">
                        <h2>Nuevo Pasciente</h2>                    
                      </div>
                      <div class="breadcrumbs-wrapper">               
              <ol class="breadcrumb">
                <li><a href="#">Inicio </a></li>
                <li class="active">Pascientes  </li>
                <li class="active">Nuevo Pasciente  </li>
              </ol>
                    </div>
          </div>
        </div>
                
 
        </div>       
    <!-- /Main Wrapper Header -->

    <!-- Main Container -->
    <div class="main-wrapper">

          <!-- Container -->
            <div class="container">
                
              <div class="row">

                    <div class="col-md-12">
            
                        <!-- Form -->
            <%= simple_form_for(@patient, :html => { :class => 'form-horizontal' }) do |f| %>

              <div class="form-group">
                
                 <div class="row">
              <div class="col-md-6">   
                <div>
                                  <%= f.text_field :first_name, class: 'form-control', required: true, placeholder: 'Primer Nombre' %>

                </div>
              </div>
              <div class="col-md-6">   
                <div>
                  <%= f.text_field :second_name, class: 'form-control', required: true, placeholder: 'Segundo Nombre' %>
                </div>
              </div>
            </div>
            <br/>



            <div class="row">
              <div class="col-md-6">   
                <div>
                  <%= f.text_field :first_surname, class: 'form-control', required: true, placeholder: 'Primer APellido' %>
                </div>
              </div>
              <div class="col-md-6">   
                <div>
                  <%= f.text_field :second_surname, class: 'form-control', required: true, placeholder: 'Segundo APellido' %>
                </div>
              </div>
            </div>
            <br/>

             <div class="row">
              <div class="col-md-6">   
                <div>
                  <%= f.text_field :email, class: 'form-control', required: true, placeholder: 'Email' %>
                </div>
              </div>
              <div class="col-md-6">   
                <div>
                  <%= f.input :type_document,
                    prompt:       'Seleccionar un Documento',
                    collection: @patient.select_document.sort,
                    error: false, label: false, 
                    input_html:   {class: 'form-control'} %>
                     <%= f.text_field :document, class: 'form-control', required: true, placeholder: 'Identificacion' %>
                </div>
              </div>
            </div>
            <br/>

            <div class="row">
              <div class="col-md-6">   
                <div>
                  <%= f.input :gender,
                    prompt:       'Seleccionar un Genero',
                    collection: @patient.select_genre.sort,
                    error: false, label: false, 
                    input_html:   {class: 'form-control'} %>
                </div>
              </div>
              <div class="col-md-6">   
                <div>
                <%= f.input :blood_type,
                    prompt:       'Seleccionar un Tipo de Sangre',
                    collection: @patient.select_blood.sort,
                    error: false, label: false, 
                    input_html:   {class: 'form-control'} %>
                  
                </div>
              </div>
            </div>
            <br/>

             <div class="row">
              <div class="col-md-6">   
                <div>

                </div>
              </div>
              <div class="col-md-6">   
                <div>
                  <%= f.input :gender,
                    prompt:       'Seleccionar un Pais',
                    collection: @patient.select_country.sort,
                    error: false, label: false, 
                    input_html:   {class: 'form-control'} %>
                </div>
              </div>
            </div>
            <br/>

             <div class="row">
              <div class="col-md-6">   
                <div>

                </div>
              </div>
              <div class="col-md-6">   
                  <div>
                    <%= f.select :profession, { "Custom" => "offer"}, {}, :class => "countries", :id => "countryId".html_safe %>

                  </div>
              </div>
            </div>








            <br/>

                        <div class="row">
              <div class="col-md-6">   
                <div>

                  <%= f.select :address, { "Custom" => "offer" }, {}, :class => "states", :id => "stateId".html_safe %>




                </div>
              </div>
              <div class="col-md-6">   
                <div>

                  <%= f.text_field :condition, class: 'form-control', required: true, placeholder: 'Condición' %>
                </div>
              </div>
            </div>
            <br/>

            <div class="row">
              <div class="col-md-6">   
                <div>
                </div>
              </div>
              <div class="col-md-6">   
                <div>
                    <%= f.collection_select :user_id, User.all, :id, :name, :prompt => "Usuarios"   %>
                </div>
              </div>
            </div>
            <br/>

            <%= f.submit "Guardar Pasciente", :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            patients_path, :class => 'btn btn-default' %>



              </div>
            <% end %>                        
                                               
                    </div>
        </div>               
      
            </div>

                                   
    </div>
    <!-- /Main Container -->      

   

  </div>  

  <!-- Back To Top -->
  <a href="#page-top" class="scrollup smooth-scroll" ><span class="fa fa-angle-up"></span></a>
  <!-- /Back To Top -->













<!DOCTYPE html>
<html>
<head>
<meta charset='UTF-8' />
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script language="javascript" type="text/javascript">  
$(document).ready(function(){

//let's create arrays
var chocolates = [
    {display: "Dark chocolate", value: "dark-chocolate" }, 
    {display: "Milk chocolate", value: "milk-chocolate" }, 
    {display: "White chocolate", value: "white-chocolate" },
    {display: "Gianduja chocolate", value: "gianduja-chocolate" }];
    
var vegetables = [
    {display: "Broccoli", value: "broccoli" }, 
    {display: "Cabbage", value: "cabbage" }, 
    {display: "Carrot", value: "carrot" },
    {display: "Cauliflower", value: "cauliflower" }];
    
var icecreams = [
    {display: "Frozen yogurt", value: "frozen-yogurt" }, 
    {display: "Booza", value: "booza" }, 
    {display: "Frozen yogurt", value: "frozen-yogurt" },
    {display: "Ice milk", value: "ice-milk" }];

//If parent option is changed
$("#parent_selection").change(function() {
        var parent = $(this).val(); //get option value from parent 
        
        switch(parent){ //using switch compare selected option and populate child
              case 'chocolates':
                list(chocolates);
                break;
              case 'vegetables':
                list(vegetables);
                break;              
              case 'icecreams':
                list(icecreams);
                break;  
            default: //default child option is blank
                $("#child_selection").html('');  
                break;
           }
});

//function to populate child select box
function list(array_list)
{
    $("#child_selection").html(""); //reset child options
    $(array_list).each(function (i) { //populate child options 
        $("#child_selection").append("<option value=\""+array_list[i].value+"\">"+array_list[i].display+"</option>");
    });
}

});
</script>

</head>
<body> 
<br/><br/><br/><br/> 
<div class="wrapper">
Category : <select name="parent_selection" id="parent_selection">
    <option value="">-- Please Select --</option>
    <option value="chocolates">Chocolates</option>
    <option value="vegetables">Vegetables</option>
    <option value="icecreams">Ice cream</option>
</select>
<select name="child_selection" id="child_selection">
</select>
</div>
</body>
</html>