<%= form_for(@clinic_history) do |f| %>


  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :department %><br>
    <%= f.text_field :department %>
  </div>
  <div class="field">
    <%= f.label :cove %><br>
    <%= f.text_field :cove %>
  </div>
  <div class="field">
    <%= f.label :mobiel_service %><br>
    <%= f.text_area :mobiel_service %>
  </div>
  <div class="field">
    <%= f.label :airport %><br>
    <%= f.text_area :airport %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
