<script>
function goBack() {
    window.history.go(+1);
}
</script>
<button onclick="goBack()">Historia Personal</button>


<%= simple_form_for [@patient, @clinic_history], :html => { :class => 'form-horizontal' } do |f| %>

  <%= f.input :city %>
  <%= error_span(@clinic_history[:city]) %>
  <%= f.input :department %>
  <%= error_span(@clinic_history[:department]) %>
  <%= f.input :user_id %>
  <%= error_span(@clinic_history[:user_id]) %>
  <%= f.input :cove %>
  <%= error_span(@clinic_history[:cove]) %>
  <%= f.input :mobiel_service %>
  <%= error_span(@clinic_history[:mobiel_service]) %>
  <%= f.input :airport %>
  <%= error_span(@clinic_history[:airport]) %>
  <%= f.input :type_service %>
  <%= error_span(@clinic_history[:type_service]) %>
  <%= f.input :patient_id %>
  <%= error_span(@clinic_history[:patient_id]) %>
  <%= f.input :origin %>
  <%= error_span(@clinic_history[:origin]) %>
  <%= f.input :destination %>
  <%= error_span(@clinic_history[:destination]) %>
  <%= f.input :company %>
  <%= error_span(@clinic_history[:company]) %>
  <%= f.input :accompanist_name %>
  <%= error_span(@clinic_history[:accompanist_name]) %>
  <%= f.input :relationship %>
  <%= error_span(@clinic_history[:relationship]) %>
  <%= f.input :phone %>
  <%= error_span(@clinic_history[:phone]) %>
  <%= f.input :reason_for_consultation %>
  <%= error_span(@clinic_history[:reason_for_consultation]) %>
  <%= f.input :current_illness %>
  <%= error_span(@clinic_history[:current_illness]) %>

  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                patient_clinic_histories_path(@patient), :class => 'btn btn-default' %>
<% end %>
