<h1>Listing pets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Colour</th>
      <th>Owner name</th>
      <th>Identifying characteristics</th>
      <th>Special instructions</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @clinic_histories.each do |clinic_history| %>
      <tr>
        <td><%= clinic_history.city %></td>
        <td><%= clinic_history.department %></td>
        <td><%= clinic_history.cove %></td>
        <td><%= simple_format clinic_history.mobiel_service %></td>
        <td><%= link_to 'Destroy', clinic_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pet', clinic_histories_path, method: :create %>
