<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @rol.name %>
</p>

<p>
  <strong>Restrictions:</strong>
  <%= @rol.restrictions %>
</p>

<%= link_to 'Edit', edit_rol_path(@rol) %> |
<%= link_to 'Back', roles_path %>
