<p id="notice"><%= notice %></p>

<h1>Listing Epses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @epses.each do |eps| %>
      <tr>
        <td><%= eps.name %></td>
        <td><%= link_to 'Show', eps %></td>
        <td><%= link_to 'Edit', edit_eps_path(eps) %></td>
        <td><%= link_to 'Destroy', eps, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Eps', new_eps_path %>
