<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>
<%= will_paginate %>
<table class="table table-striped table-bordered table-hover" style="width:auto">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Image file</th>
      <th>Price</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= truncate(product.description, length: 20) %></td>
        <td><%= product.image_file %></td>
        <td><%= product.price %></td>
        <td><%= product.user.name %></td>
        <td class="col-md-4 btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default"><%= link_to 'Show', product %></button>
                <% if logged_in? %>
                  <% if current_user.products.include?(product) || current_user.admin %>
                <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_product_path(product) %></button>
                <button type="button" class="btn btn-default"><%= link_to 'Destroy', product,
                                                                  method: :delete, data: { confirm: 'Are you sure?' } %></button>
                  <% end %>
                <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate %>
<%= link_to 'New Product', new_product_path %>
